<template>
  <div>
      <ul class="list-group list-group-numbered ">
        <div class="d-flex flex-wrap justify-content-around">
          <div
            v-for="item in items"
            class="card p-2 mb-5 col-11 mx-3"
            :key="item"
          >
            <div class="card-body text-center ">
    
              <h5 class=" fw-light fs-6">{{ item.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Id del usuario:
        
                <span class="text-danger">{{
                  item.user_id
                }}</span>
              </h6>
              <label href="#" class="card-link card-subtitle">{{ item.body }}</label>
              <div class="d-flex justify-content-around mt-3">
                <button class="btn btn-success col-3" @click="putItem(item.id)">Put</button>
                <button type="button" @click="setVal(item.id)" class="btn btn-danger col-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5>Seguro Que Deseea Eliminar Este Elemento</h5>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-danger col-3 mx-3" data-bs-dismiss="modal" @click="deleteItemId(idForDelete)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
data() {
    return {
      items: [],
      put: false,
      deleteItem: false,
      post: false,
      get: true
    };
  },
  mounted() {
    axios.get("https://gorest.co.in/public/v1/posts").then((res) => {
      this.items = res.data.data;
    });
  },
  methods:{
    putItem(val){
      this.$emit('putItem' , val )
    },
    setVal(id){
      this.idForDelete = id
    },
    deleteItemId(id) {
      this.items.forEach((item, i) => {
        if(item.id == id) {
          this.items.splice(i, 1)
        }
      });
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';

      axios.delete(`https://gorest.co.in/public/v1/users/${id}`, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
      .catch(error => {
        console.log(error)
      })
    }
    
  }
}
</script>

<style scoped>
.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.card {
  background: rgba(255, 255, 255, 0.8);
}
.card:hover {
  box-shadow: 0px 0px 10px #000;
  background: #fff;
}
</style>