<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Post
      </div>
      <div class="card-body row d-flex justify-content-center">
          <h4 class="fw-light text-center mb-4">
            Complete los campos para publicar un usuario 
          </h4>
          <div class="form-floating mb-3 col-10">
            <input
              type="text"
              v-model="item.title"
              placeholder="Titulo"
              class="form-control"
              required
            />
            <label for="floatingInput" class="p-3">Titulo</label>
          </div>  

          <div class="form-floating mb-3 col-10">
            <textarea class="form-control" placeholder="Comentario" v-model="item.body" id="floatingTextarea"></textarea>
            <label for="floatingTextarea" class="p-3">Comentario</label>
          </div>
            <div class="form-floating mb-3 col-5">
            <input type="number" class="form-control" v-model="item.user_id" id="floatingInput" placeholder="ID del Usuario" required>
            <label for="floatingInput" class="p-3">ID del Usuario</label>
          </div>
          <div class="col-9 d-flex justify-content-center">
            <button type="button" class="btn btn-success mt-2 col-4" @click="postItem()">
                Enviar
            </button>
          </div>
       </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      item: {
        "user_id": null,
        "name": "",
        "body": "",
      },
    };
  },

  methods: {
    postItem() {
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a'

      axios.post(`https://gorest.co.in/public/v1/posts`, this.item, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
 
      .catch(error => {
        console.log(error)
      })
    },
  },
};
</script>
