<template>
  <div class="col-11">
    <div class="d-flex justify-content-between pt-2 p-3 pb-0">
              
              <transition name="fad" class="col-12 mx-0">
                  
      <div class="bg-white ps-3  filter-Card overflow-hidden" v-if="filterFunction" >
        
        
        <ul class="align-items-baseline d-flex p-0 pt-1 mb-0 px-0 pe-1 justify-content-between" >
            <div>
              <h6><strong  class="strongNumber"> Tareas: {{totaltodos}}</strong></h6>
            </div>
            <div class="row d-flex justify-content-center col-8" >       
            <div class="col-5 mb-3">
              <input class="form-control" v-model="titleForFilter"  type="text"  placeholder="Titulo" aria-label="default input example">
            </div>
            <div class=" col-5 mb-3">
              <select class="form-select" v-model="statusForFilter" type="text"  placeholder="Cuerpo" aria-label="default input example">
                <option value="completed">Completado</option>
                <option value="pending">Pendiente</option>
              </select>
            </div>
          
            </div>
          <span class="col-1">
            <button type="button" class="btn-close" @click="dontFilter(false)" data-bs-dismiss="modal" aria-label="Close"></button>
          </span>
            
        </ul>
        
        
      </div>
              </transition>
              
              
    </div>
      <div 
              class="card-body row text-center d-flex justify-content-around p-0"
              :class="{cardMain: noElements}" >

                 <h5 v-if="!noElements & !noUserId" class="fw-light text-center my-1" style="max-height: 20px">
                      Tareas de: <strong> {{UserToTodos?.name }}</strong>
                  </h5>

                  <h5 v-if="noUserId" class="fw-light text-center my-1" style="max-height: 20px">
                      Seleccione el usuario para ver sus tareas
                  </h5>
                 

                  <h6 v-if="noElements" class="fw-light text-center text-muted my-1">
                      No existen Tareas
                  </h6>

                 
                <div 
                    v-for="item in items" :key="item"
                    v-show="item.index > oldValPagination & item.index <= newValPagination"
                    class="col-4 mx-3 card my-4 p-2">
                    <div class="d-flex justify-content-end mb-2">
                      <fa
                        icon="trash-alt"
                        class="fa-delete"
                        @click="setVal(item)"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      />
                      <fa icon="user-edit" class="ms-3 fa" @click="putItem(item)" />
                    </div>
                    <span class="d-flex justify-content-center align-items-baseline mt-1">
                        <h6 class="card-subtitle text-muted">
                            Estado
                        </h6>
                        <h6 class="text-danger card-subtitle ms-1"> {{ item.status }}</h6>
                    </span>
                    
                    <h6 class=" fw-light card-subtitle my-2">{{ item.title }}</h6>
                    
                    
                   
                   
                </div>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5>Seguro Que Deseea Eliminar Este Elemento</h5>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-danger col-3 mx-3" data-bs-dismiss="modal" @click="deleteItemId(idForDelete)">Delete</button>
          </div>
        </div>
      </div>
    </div>
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination pt-3">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" @click="backPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">{{currentPage}}</a></li>

        <li class="page-item"><a class="page-link" href="#">{{totalpages}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next" @click="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
     </nav>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
  props:{
      filterCondition: Boolean
    },
    data(){
        return{
            items: null,
            noUserId: null,
            itemId: null,
            noElements: false,
            typingId: '',
            idForDelete: null,
            statusForFilter: '',
            titleForFilter: '',
            filterFunction: false,
            totaltodos: null,
            oldValPagination: 0,
            newValPagination: 2,
            currentPage: 1
        }
    },
    computed:{
      ...mapGetters([
        'UserToTodos'
      ]),
      totalpages: function () {
        var pages = this.totaltodos / 2
        return Math.round(pages)
      },
    },
    mounted(){
        if(this.UserToTodos?.id > 0){
          this.itemId = this.UserToTodos?.id
          this.getItem()
        }else{
          this.noUserId = true
        }
    },
    watch:{
      'statusForFilter': function(newVal){
        if(newVal){
          this.getItem()
        }
      },
      'titleForFilter': function(newVal){
        if(newVal){
          this.getItem()
        }
      },
      'itemId': async function(newVal){
        if(newVal){
          this.items = null
        }
        if(newVal == 0 || newVal == null){
          this.typingId = ''
        }
      },
      'filterCondition': function(newVal){
        this.filterFunction = newVal
      },
    },
    methods:{
        getItem(){
        if(this.titleForFilter.length <= 0 && this.statusForFilter.length <= 0 ){
            axios.get(`https://gorest.co.in/public/v1/users/${this.itemId}/todos`).then((res) => {
            this.items = res.data.data;
            console.log(this.items)
          this.totaltodos = res.data.meta.pagination.total
          var cont = 0

          this.items.forEach(item =>{
            cont++
            item.index = cont
          })

            if(!this.items || this.items == {} || this.items == [] || this.items.length <= 0) {
              this.noElements = true
              this.typingId = ''
            }else{
              this.noElements = false
              this.typingId = ''
            }
            })
            .catch(error => {
              this.items = null
              console.log(error)
            })
          }  else{  
          axios.get(`https://gorest.co.in/public/v1/users/${this.itemId}/todos?title=${this.titleForFilter}&status=${this.statusForFilter}`).then((res) => {
          this.items = res.data.data;
          this.totaltodos = res.data.meta.pagination.total
          });
        }
        },
        typing(){
          this.typingId = "Escribiendo"
          this.noElements = false
          
        },
        dontFilter(val){
      this.$emit('dontFilter', val)
    },
        putItem(val){
        this.$emit('putItem' , val )
      },
      nextPage(){
      if(this.currentPage < this.totalpages ){
        this.newValPagination = this.newValPagination + 2
        this.oldValPagination = this.oldValPagination + 2
        this.currentPage++ 

      }
    },
    backPage(){
      if(this.oldValPagination > 0){
        this.newValPagination = this.newValPagination - 2
        this.oldValPagination = this.oldValPagination - 2
        this.currentPage--

      }
    }
    }
}
</script>
<style scoped>
.card-main{
  min-height: 240px;
}
</style>