<template>
  <div>
    
      <div
              class="card-body row d-flex justify-content-center">
                  <div v-if="toDoNoFind" 
                    class="d-flex justify-content-center flex-wrap col-11 p-1 mb-4 alert alert-danger"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 mb-0 fw-bold">Tarea No publicada</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                      <p class="fs-6 m-1">Observe que sus campos enten llenos correctamente o verifique su coneccion a internet</p>
                  </div>
                  <div v-if="toDoPosted" 
                    class="d-flex justify-content-center col-11 p-1 mb-4 alert alert-success"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 fw-bold">Tarea Publicada</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                  </div>
            
                  <h5 v-if="!toDoNoFind && !toDoPosted"
                    class="fw-light text-center mb-4">
                      Complete los campos requeridos para publicar una tarea
                    </h5>

                    
                    <div class="form-floating mb-3 col-10">
                      <input
                        type="text"
                        placeholder="Nombre"
                        class="form-control"
                        v-model="items.title"
                      />
                      <label for="floatingInput" class="p-3">titulo</label>
                    </div>
                    <div class="form-floating mb-3 col-5">
                      <select
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name@example.com"
                        v-model="items.status"

                      >
                      <option value="completed">Completado</option>
                      <option value="pending">Pendiente</option>

                      </select>
                      <label for="floatingInput" class="p-3">Estado</label>
                    </div>
                    
                    <div class="form-floating mb-3 col-5">
                      <input
                        type="date"
                        class="form-control"
                        placeholder="Comentario"
                        v-model="items.due_on"
                        id="floatingTextarea"
                        />
                      <label for="floatingTextarea" class="p-3">Fecha</label>
                    </div>
                   
                    <div class="col-10 d-flex justify-content-center" >
                      <button
                        type="button"
                        class="btn btn-primary mt-2 col-4"
                        @click="postItem()"
                      >
                        Enviar
                      </button>
                    </div>
                    
                    <loading
                      :active="isLoading"
                    />
            </div>
        
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
  data(){
    return{
      items: {        
        due_on: "",
        status: "",
        title: "",
        user_id: null
      },
      isLoading: false, 
      idForDelete: null,
      toDoPosted: false,
      toDoNoFind: false
    }
  },
  computed: {
    ...mapGetters([
      'UserToTodos'
    ])
  },
  mounted(){
    if(this.UserToTodos?.id > 0){
          this.items.user_id = this.UserToTodos?.id
    }else{
          this.noUserId = true
    }
  },
  watch:{
    items: {
      handler: function (newVal) {
        if(newVal){
          this.toDoPosted = false
          this.toDoNoFind = false
        }
      },
      deep: true
    }
  },
  methods:{
    async postItem(){
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';
      this.isLoading = true
      await axios.post(`https://gorest.co.in/public/v1/users/${this.items.user_id}/todos`, this.items , {
      
        headers: {
          'Authorization': `Bearer ${token}`,
        },

        }).then(() => {
          this.toDoPosted = true
          
        })
        .catch(error => {
          this.toDoNoFind = true
          console.log(error)
        })
      this.isLoading = false
    },
    setVal(id){
      this.idForDelete = id
    },
  }
}
</script>

<style scoped>
.icon-success{
  font-size: 30px;
}
</style>