<template>
  <div>

      <div 
            class="card-body row d-flex flex-wrap justify-content-center">
                <div v-if="toDoNoFind" 
                    class="d-flex justify-content-center flex-wrap col-11 p-1 mb-4 alert alert-danger"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 mb-0 fw-bold">Tarea No publicada</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                      <p class="fs-6 m-1">Observe que sus campos enten llenos correctamente o verifique su coneccion a internet</p>
                  </div>
                  <div v-if="toDoPosted" 
                    class="d-flex justify-content-center col-11 p-1 mb-4 alert alert-success"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 fw-bold">Tarea Publicada</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                  </div>
            
                  <h5 v-if="!toDoNoFind && !toDoPosted"
                    class="fw-light text-center mb-4">
                        Seleccione el ID de la tarea disponible que desea modificar
                    </h5>
            
                <div class="form-floating mb-3 col-10">
                    <input
                    type="text"
                    placeholder="Nombre"
                    class="form-control"
                    v-model="item.title"
                    
                    />
                    <label for="floatingInput" class="p-3">Titulo</label>
                </div> 
    
                <div class="form-floating col-5 mb-3">
                  <select class="form-select" v-model="item.status" @change="setAnswer()" id="floatingSelect" aria-label="Floating label select example">
                    <option value="completed">Completado</option>
                    <option value="pending">Pendiente</option>
                  </select>
                  <label for="floatingSelect" class="p-3">Estado</label>
                </div>
                <div class="form-floating mb-3 col-5">
                      <input 
                        class="form-control"
                        placeholder="Comentario"
                        v-model="item.due_on"
                        id="floatingTextarea"
                        type="date"
                        
                      />
                      <label for="floatingTextarea" class="p-3">Fecha</label>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mt-2 col-4" @click="putItem()">
                    Enviar
                </button>
            </div>
            
          
        </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props:{
    changeGetToPut: Object
  },
    data(){
        return{
            item: {
                due_on: "",
                id: null,
                status: "completed",
                title: "Summisse cattus consequatur vomica at caelum.",
                user_id: null
            },
            toDoPosted: false,
            toDoNoFind: false
        }
    },
    mounted(){
      if(this.changeGetToPut.length > 0){
        this.item.id = this.changeGetToPut.id
        this.item.user_id = this.changeGetToPut.user_id
      }
    },
    watch:{
    item: {
      handler: function (newVal) {
        if(newVal){
          this.toDoPosted = false
          this.toDoNoFind = false
        }
      },
      deep: true
    }
  },
  methods:{
    putItem(){
      axios.put('https://gorest.co.in/public/v1/users/84/todos')

    }
  }

}
</script>
