<template>
  <div>
    <div class="card">
      <div class="card-header text-center d-flex ">
        <label class="col-7 text-end d-flex flex-column justify-content-center">
          <span class="mx-4">
            User Todos
          </span>
        </label>
        <div v-if="get" class="col-1 ms-auto d-flex justify-content-end ">
          <button @click="filterFunction = !filterFunction" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
      <div class="card-body row d-flex justify-content-center pb-0 card-main">
        <div class="accordion d-flex" id="accordionExample">
          <ul class="nav nav-tabs d-flex flex-column col-2 bg-primary py-2">
            <li class="nav-item mx-2 pb-2">
              <a class="nav-link text-white" href="#" @click="sendData('get')"
                >Obtener Tareas</a
              >
            </li>
            <li class="nav-item mx-2 pb-0">
              <a class="nav-link text-white" href="#" @click="sendData('post')"
                >Crear Tarea</a
              >
            </li>
            
            
          </ul>
          <div class="col-10 d-flex justify-content-center">
            <get-todos v-if="get"  @putItem="putComments($event)" @dontFilter="changeFalseFilter($event)" :filterCondition="filterFunction"/>
            <post-todos v-if="post"/>
            <put-todos v-if="put" :changeGetToPut="getToPut"/>
            
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import getTodos from './getTodos.vue'
import postTodos from './postTodos.vue'
import putTodos from './putTodos.vue'

export default ({
    components:{
      getTodos,
      postTodos,
      putTodos
    },
    data() {
        return{
            put: false,
            deleteItem: false,
            post: false,
            get: true,
            getId: false,
            itemsGet: {},
            getToPut: null,
            filterFunction: false
        }
    },

    methods:{
        sendData(val){
            if(val == 'post'){
            this.post = true
            this.put = false
            this.deleteItem = false
            this.get = false
            this.getId = false

      }
      if (val == 'put'){
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false

      }
      if (val == 'delete'){
        this.post = false
        this.put = false
        this.deleteItem = true
        this.get = false
        this.getId = false

      }
      if (val == 'get'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = true
        this.getId = false
      }
      if(val == 'getId'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = true
      }
        },
        getData(){
            axios.get("https://gorest.co.in/public/v1/users").then((res) => {
            this.itemsGet = res.data.data;
            });
        },
        putComments(val){
          this.getToPut = val
          this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false
        },
        changeFalseFilter(val){
          this.filterFunction = val
        }
    }
})
</script>
<style scoped>
.card-main{
  min-height: 200px;
}
.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.can{
    text-transform: capitalize;
}

</style>