<template>
  <div>
      <div
        class="card-body row">
                <h4 class="fw-light text-center mb-4">Seleccione el numero de ID del usuario que desea eliminar</h4>
                <!-- <div v-if="alertOn" class="alert alert-primary alert-dismissible text-center" role="alert" >
                    <strong>Excelente</strong> El usuario ha sido eliminado exitosamente.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> -->
                <form class="row  g-3 d-flex align-items-center justify-content-center">
                    <div class="form-floating col-6">
                        <input
                            type="number"
                            class="form-control"
                            placeholder="Id"
                            v-model="itemId"
                        />
                        <label for="floatingInput">ID Number</label>
                        
                    </div>
                    <div class="col-3 d-flex align-items-end">
                        <button type="button" class=" btn btn-primary col-12 " @click="deleteItem()">
                            Enviar
                        </button>
                    </div>
                </form>         
             </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
            itemId: null
        }
    }
}
</script>

<style>

</style>