<template>
  <div>
      <div 
              class="card-body row d-flex justify-content-center">
                    <h4 class="fw-light text-center mb-4">
                      Seleccione el ID del usuario que desea conseguir
                    </h4>

                    <form
                      class="row  g-3 d-flex align-items-center justify-content-center"
                    >
                      <div
                        class="form-floating col-5 d-flex justify-content-center"
                      >
                        <input
                          type="number"
                          v-model="itemId"
                          class="form-control col-3"
                          placeholder="Id"
                        />
                        <label for="floatingInput">ID Number</label>
                      </div>
                      <div class="col-12 d-flex justify-content-center">
                        <button
                          type="button"
                          class=" btn btn-primary col-2 "
                          @click="deleteItem()"
                        >
                          Enviar
                        </button>
                      </div>
                    </form>
            </div>
            <h6 class="fw-light text-center my-3">
                      Commentarios:
                  </h6>

                  <h6 v-if="noElements" class="fw-light text-center text-muted my-0">
                      No existen Comentarios
                  </h6>

                  <h6 class="fw-light text-center text-success my-0">{{typingId}}</h6>

                  <div 
                    v-for="item in items" :key="item"
                    class="col-4 mx-3 card mb-4 py-3 px-0 ">
                    
                    <h5 class=" fw-light fs-6 mb-1">{{ item.name }}</h5>
                    <span class="d-flex justify-content-center align-items-baseline">
                        <h6 class="card-subtitle text-muted">
                            ID:
                        </h6>
                        <h6 class="text-danger ms-1 mb-1"> {{ item.id }}</h6>
                    </span>
                    <span class="d-flex justify-content-center align-items-baseline">
                        <h6 class="card-subtitle text-muted">
                            Post ID:
                        </h6>
                        <h6 class="text-danger ms-1 mb-1"> {{ item.post_id }}</h6>
                    </span>
                     <label class="card-link card-subtitle my-1">{{ item.body }}</label>
                    <div>
                      <a href="#" class="card-link card-subtitle">{{ item.email }}</a>
                    </div>
                   
                </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{
            items: null,
            itemId: null,
            noElements: false,
            typingId: ''
        }
    },
    watch:{
      'itemId': async function(newVal){
        if(newVal){
          this.items = null
        }
        if(newVal == 0 || newVal == null){
          this.typingId = ''
        }
      }
    },
    methods:{
        getItem(){
            axios.get(`https://gorest.co.in/public/v1/users/${this.itemId}/posts/`).then((res) => {
            this.items = res.data.data;
            if(!this.items || this.items == {} || this.items == [] || this.items.length <= 0) {
              this.noElements = true
              this.typingId = ''
            }else{
              this.noElements = false
              this.typingId = ''
            }
            })
            .catch(error => {
              this.items = null
              console.log(error)
            })
        },
        typing(){
          this.typingId = "Escribiendo"
          this.noElements = false
          
        }
    }
}
</script>
