<template>
  <div class="col-11">
            <div class="d-flex justify-content-between pt-2 p-3 pb-0">
              
              <transition name="fad" class="col-12 mx-0">
                  
      <div class="bg-white ps-3 filter-Card overflow-hidden" v-if="filterFunction" >
        
        
        <ul class="align-items-baseline d-flex p-0 pt-1 mb-0 justify-content-between" >
            <div>
              <h6><strong  class="strongNumber"> Publicacion: {{totalPosts}}</strong></h6>
            </div>
            <div class="row d-flex justify-content-center col-8" >       
            <div class="col-5 mb-3">
              <input class="form-control" v-model="titleForFilter"  type="text"  placeholder="Titulo" aria-label="default input example">
            </div>
            <div class=" col-5 mb-3">
              <input class="form-control" v-model="bodyForFilter" type="text"  placeholder="Cuerpo" aria-label="default input example">
            </div>
            

          
            </div>
          <span class="col-1">
            <button type="button" class="btn-close" @click="dontFilter(false)" data-bs-dismiss="modal" aria-label="Close"></button>
          </span>
            
        </ul>
        
        
      </div>
              </transition>
              
              
            </div>

      <div 
              class="card-body row p-0 text-center d-flex justify-content-around">
                
                 <h5 v-if="!noUserId" class="fw-light text-center my-2">
                      Publicaciones de <strong class="fw-bold"> {{UserToPosts?.name}} </strong>
                  </h5>

                  <h5 v-if="noUserId" class="fw-light text-center my-2">Seleccione el usuario para ver sus publicaciones</h5>

                  <h5 v-if="noElements" class="fw-light text-center text-muted my-1">
                      No Existen Publicaciones
                  </h5>

                  <h5 class="fw-light text-center text-success my-1">{{typingId}}</h5>
                 
                <div  
                    v-for="item in items" :key="item"
                    v-show="item.index > oldValPagination & item.index <= newValPagination"
                    class="col-10 m-2 card py-3 pb-0 text-center"
                    style="height: auto; min-width: 180px;">                    

                      <div class="d-flex">
                      <div class="col-2"/>
                      <h5 class="d-block fw-bold fs-6 text-center mb-1 col-8" style="font-size: 14px !important">{{ item.title.slice(0, 20).toUpperCase() }}</h5>
                      <div class="d-flex justify-content-end col-2">
                        <fa icon="trash-alt" class="fa-delete" @click="setVal(item.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
                        <fa icon="user-edit" class="ms-3 fa" @click="putItem(item)"/>
                      </div>
                    </div>
                    
                    <span class="d-flex justify-content-center align-items-baseline mt-2">
                        <h6 class="card-subtitle text-muted">
                            Publicacion
                        </h6>
                    </span>
                     <label class="card-link card-subtitle mt-2">{{ item.body.slice(0, 100) }}</label>
                     <a href="#" class="card-subtitle mt-1" data-bs-toggle="modal" data-bs-target="#seeMore" @click="seeMore(item)">Ver mas</a>

               
                      <h6 class="text-end  mt-auto mb-0 py-2 bd-highlight">
                        <label v-if="item.comments == 0" class="card-subtitle ">Sin Comentarios</label>
                        <a v-else style="cursor:pointer" @click="pushPage(item)" class=" card-link card-subtitle ">Comentarios <strong>{{item.comments}}</strong></a>
                      </h6> 
                  
                </div>
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <h5>Seguro Que Deseea Eliminar Este Elemento</h5>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Close</button>
                          <button class="btn btn-danger col-3 mx-3" data-bs-dismiss="modal" @click="deleteItemId(idForDelete)">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="seeMore" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                      <h5 class="d-block fw-bold fs-6 text-center mb-1 col-12" style="font-size: 14px !important">{{ itemsDetails.title }}</h5>
                          
                    <span class="d-flex justify-content-center align-items-baseline mt-2">
                        <h6 class="card-subtitle text-muted">
                            Publicacion
                        </h6>
                    </span>
                     <label class="card-link card-subtitle mt-2">{{ itemsDetails.body }}</label>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination pt-3">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" @click="backPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">{{currentPage}}</a></li>

        <li class="page-item"><a class="page-link" href="#">{{totalpages}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next" @click="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
     </nav>
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
    props:{
      filterCondition: Boolean
    },
    data(){
        return{
            items: {},
            noUserId: false,
            itemId: null,
            noElements: false,
            typingId: '',
            comments: null,
            resumenBody: null,
            itemsDetails: {},
            idForDelete: null,
            filterFunction: false,
            bodyForFilter: '',
            titleForFilter: '',
            totalPosts: null,
            oldValPagination: 0,
            newValPagination: 2,
            currentPage: 1
            
        }
    },
    computed: {
      ...mapGetters([
        'UserToPosts',
      ]),

      totalpages: function () {
        var pages = this.totalPosts / 2
        return Math.round(pages)
      },
      

    },
    mounted(){
        if(this.UserToPosts?.id > 0){
          this.itemId = this.UserToPosts.id
          this.setAnswer()
          this.$emit('dontFilter', false)
        }else{
          this.noUserId = true 
        }
    },
    watch:{
      'filterCondition': function(newVal){
        this.filterFunction = newVal
      },
      'items': function(){
      },
      'itemId': async function(newVal){
        if(newVal){
          this.items = null
        }
        if(newVal == 0 || newVal == null){
          this.typingId = ''
        }
      },
      'bodyForFilter': function(newVal){
        if(newVal){
          this.setAnswer()
        }
      },
      'titleForFilter': function(newVal){
        if(newVal){
          this.setAnswer()
        }
      }
    },
    methods:{
        seeMore(val){
          this.itemsDetails = val
        },

        getComments(){
          this.items.forEach(el => {
              axios.get(`https://gorest.co.in/public/v1/posts/${el.id}/comments`).then(res => {
              el.comments = res.data.meta.pagination.total
            })
              
            });
        },
        typing(){
          this.typingId = "Escribiendo"
          this.noElements = false
          
        },
        setVal(id){
          this.idForDelete = id
        },
        pushPage(val){
          this.$store.commit('changeUserToComments', val)
        },
        deleteItemId(id) {
      this.items.forEach((item, i) => {
        if(item.id == id) {
          this.items.splice(i, 1)
        }
      });
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';

      axios.delete(`https://gorest.co.in/public/v1/posts/${id}`, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
      .catch(error => {
        console.log(error)
      })
    },
        putItem(val){
          this.$emit('putItem' , val )
        },
        setAnswer(){
        if(this.titleForFilter.length <= 0 && this.bodyForFilter.length <= 0 ){
          axios.get(`https://gorest.co.in/public/v1/users/${this.itemId}/posts`).then((res) => {
          this.totalPosts = res.data.meta.pagination.total
          this.items = res.data.data;
          var cont = 0

          this.items.forEach(item =>{
            cont++
            item.index = cont
          })
          console.log(this.items)
          this.getComments()
            
            if(!this.items || this.items == {} || this.items == [] || this.items.length <= 0) {
              this.noElements = true
              this.typingId = ''
            }else{
              this.noElements = false
              this.typingId = ''
            }
            })
            .catch(error => {
              this.items = null
              console.log(error)
            })
          
        } else{
          axios.get(`https://gorest.co.in/public/v1/users/${this.itemId}/posts?title=${this.titleForFilter}&body=${this.bodyForFilter}`).then((res) => {
          this.items = res.data.data;
          this.totalPosts = res.data.meta.pagination.total
          this.getComments()
          });
        }
  
    },
    dontFilter(val){
      this.$emit('dontFilter', val)
    },
    nextPage(){
      if(this.currentPage < this.totalpages ){
        this.newValPagination = this.newValPagination + 2
        this.oldValPagination = this.oldValPagination + 2
        this.currentPage++ 

      }
    },
    backPage(){
      if(this.oldValPagination > 0){
        this.newValPagination = this.newValPagination - 2
        this.oldValPagination = this.oldValPagination - 2
        this.currentPage--

      }
    }

    }
}
</script>
<style scoped>
.card:hover{
  box-shadow: 0px 1px 2px #000;
}


</style>