<template>
  <div>
      <div 
            class="card-body row d-flex flex-wrap justify-content-center">
                <h5
                    class="fw-light text-center mb-4">
                        Complete los campos disponible para modificar
                    </h5>
                <div class="form-floating mb-3 col-10">
                    <input
                    type="text"
                    placeholder="Nombre"
                    class="form-control"
                    v-model="item.title"
                    
                    />
                    <label for="floatingInput" class="p-3">Titulo</label>
                </div> 
                  
                
                <div class="form-floating mb-3 col-10">
                      <textarea 
                        class="form-control"
                        placeholder="Comentario"
                        v-model="item.body"
                        id="floatingTextarea"
                      ></textarea>
                      <label for="floatingTextarea" class="p-3">Comentario</label>
                </div>

                <div class="col-12 mt-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mt-2 col-4" @click="setPutItem(item.id)">
                    Enviar
                </button>
            </div>
            
          
        </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    props:{
        changeGettoPut: Object
    },
    data(){
        return{
            getToPut: this.changeGettoPut,
            item: {
                "id": null,
                "user_id": null,
                "title": "",
                "body": ""
            }
        }
    },
    mounted() {
      if(this.getToPut){
          this.item.id = this.getToPut.id
          this.item.user_id = this.getToPut.user_id
      }  
    },
    methods:{
        setPutItem(val){
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';

      axios.put(`https://gorest.co.in/public/v1/posts/${val}`,
        this.item,
        {
          headers: {
            'Authorization': `Bearer ${token}`,
          },
        }
      )
      
      .catch(error => {
        console.log(error)
      })
      
    },
        }
    
}
</script>
