<template>
    <div class="card">
      <div class="card-header text-center d-flex ">
        <label class="col-7 text-end d-flex flex-column justify-content-center">
          <span class="mx-4">
            User Posts
          </span>
        </label>
        <div v-if="get" class="col-1 ms-auto d-flex justify-content-end">
          <button @click="filterFunction = !filterFunction" class="btn btn-primary">{{filterFunctionMessage}}</button>
        </div>
      </div>
      <div class="card-body row d-flex justify-content-center">
        <div class="accordion d-flex" id="accordionExample">
          <ul class="nav nav-tabs d-flex flex-column col-2 bg-primary mb-3 py-2">
            <li class="nav-item mx-2 pb-2">
              <a class="nav-link text-white" href="#" @click="sendData('get')"
                >Obtener Publicacion</a
              >
            </li>
            <li class="nav-item mx-2 pb-2">
              <a class="nav-link text-white" href="#" @click="sendData('post')"
                >Crear Publicacion</a
              >
            </li>
            
            
            
          </ul>
          <div class="col-10 d-flex justify-content-center" style="min-width: 900px !important">
            <get-posts v-if="get" @putItem="changeGetToPut($event)" @dontFilter="changeFalseFilter($event)" :filterCondition="filterFunction"/>
            <post-posts v-if="post"/>
            <put-posts v-if="put" :changeGettoPut="getToPut"/>
            
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
</template>
<script>
import getPosts from './getPosts.vue'
import postPosts from './postPosts.vue'
import putPosts from './putPosts.vue'
import {mapGetters} from 'vuex'

export default ({
    props:{
      getToUserPosts: Object
    },
    components:{
      getPosts,
      postPosts,
      putPosts
    },
    data() {
        return{
            filterFunction: false,
            filterFunctionMessage: "Filtrar",
            getToPut: null,
            put: false,
            deleteItem: false,
            post: false,
            get: true,
            getId: false,
            itemsGet: {},
        }
    },
    computed: {
    ...mapGetters([
      'PostsToComments',
    ])
  },
  watch:{
    'filterFunction': function(newVal){
      if(newVal == false){
        this.filterFunctionMessage = "Filtrar"
      }
      if(newVal == true){
        this.filterFunctionMessage = "Cerrar"
      }
    },
    'PostsToComments': function(newVal){
      this.changePostToComments(newVal)
    }
  },

    methods:{
        sendData(val){
            if(val == 'post'){
            this.post = true
            this.put = false
            this.deleteItem = false
            this.get = false
            this.getId = false
      }
      if (val == 'put'){
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false
      }
      if (val == 'delete'){
        this.post = false
        this.put = false
        this.deleteItem = true
        this.get = false
        this.getId = false

      }
      if (val == 'get'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = true
        this.getId = false
      }
      if(val == 'getId'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = true
      }
        },
        changePostToComments(id){
        this.$emit('changeComments', id)
    },
    
    changeGetToPut(val){
      this.getToPut = val
      this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false
    },
    changeFalseFilter(val){
      this.filterFunction = val
    }
    }
})
</script>
<style scoped>

.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.can{
    text-transform: capitalize;
}
.nav-tabs{
  width: 220px;
  min-height: 220px;
}
</style>