<template>
  <div class="main ">
    <ul class="nav nav-tabs bg-primary mb-3 p-2">
      <li class="nav-item mx-2">
        <a class="nav-link text-white"  :class="{activeItem: get }" href="#" @click="sendData('get')">Obtener Usuarios</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white"  :class="{activeItem: post}" href="#" @click="sendData('post')">Crear Usuarios </a>
      </li>

      
      <li class="nav-item mx-2">
        <a class="nav-link text-white" :class="{activeItem: userTodos }" href="#" @click="sendData('userTodos')">Tareas</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" :class="{activeItem: userPosts }" href="#" @click="sendData('userPosts')">Publicaciones</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" :class="{activeItem: userComments }" href="#" @click="sendData('userComments')">Comentarios</a>
      </li>
      <li class="nav-item ms-auto" v-if="get">
        <a class="nav-link text-white" :class="{activeItem: userComments }" href="#" @click="sendData('filter')">Filtrar</a>
      </li>

      
    </ul>
    <div class="">
      <get v-if="get"  :filterCondition="filter" @filterOff="filterOff($event)" @putItem="changePut($event)" @postsItem="changeUserToPosts($event)" @todosItem="changeToTodos($event)"/>
      <post v-if="post"/>
      <put v-if="put"/>
      <user-comments v-if="userComments"/>
      <user-posts v-if="userPosts" :getToUserPosts="valueToPosts" @changeComments="changePostToComments($event)"/>
      <user-todos v-if="userTodos"/>
    </div>
    
  </div>
</template>

<script>
import Get from '../components/Get.vue'
import Post from '../components/Post.vue'
import Put from '../components/Put.vue'
import userComments from '../components/userComments/userComments.vue'
import userPosts from '../components/userPosts/userPosts.vue'
import userTodos from '../components/userTodos/userTodos.vue'
import axios from "axios";
import {mapGetters} from 'vuex'

export default {
  components:{
    Post,
    Get,
    Put,
    userComments,
    userPosts,
    userTodos
  },
  data() {
    return {
      items: [],
      filter: null,
      valueToTodos: null,
      valueGetPut: null,
      valueToPosts: null,
      put: false,
      deleteItem: false,
      post: false,
      get: true,
      getId: false,
      userComments: false,
      userPosts: false,
      userTodos: false
    };
  },
  computed: {
      ...mapGetters([
        'UserToPosts',
        'PostsToComments'
      ])
    },
  
  mounted() {
    axios.get("https://gorest.co.in/public/v1/users").then((res) => {
      this.items = res.data.data;
    });
    if(this.PostsToComments > 0){
      this.sendData('userComments')
    }
  },

  methods:{
    sendData(val){
      if(val == 'post'){
        this.post = true
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false
        this.userComments = false
        this.userPosts = false,
        this.userTodos = false
      }
      if (val == 'put'){
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false
        this.userComments = false
        this.userPosts = false,
        this.userTodos = false

      }
      if (val == 'delete'){
        this.post = false
        this.put = false
        this.deleteItem = true
        this.get = false
        this.getId = false
        this.userComments = false
        this.userPosts = false,
        this.userTodos = false
    
      }

      if (val == 'get'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = true
        this.getId = false
        this.userComments = false
        this.userPosts = false,
        this.userTodos = false

      }
      if(val == 'getId'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.userComments = false
        this.getId = true
        this.userPosts = false,
        this.userTodos = false

      }
      if(val == 'userComments'){
        this.userComments = true
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false
        this.userPosts = false,
        this.userTodos = false

      }
      if(val == 'userTodos'){
        this.userComments = false
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false
        this.userPosts = false,
        this.userTodos = true

      }
      if(val == 'userPosts'){
        this.userComments = false
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false
        this.userPosts = true,
        this.userTodos = false
      }
      if(val == 'filter'){
        this.userComments = false
        this.post = false
        this.put = false
        this.deleteItem = false
        this.filter = true
        this.get = true
        this.getId = false
        this.userPosts = false,
        this.userTodos = false
      }else{
        this.filter = false
        
      }


    },
    filterOff(){
      this.filter = false
    },
    changePut(event){
      this.valueGetPut = event
      this.post = false
      this.put = true
      this.deleteItem = false
      this.get = false
    },
    changeUserToPosts(val){
      this.valueToPosts = val
       this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.userComments = false
        this.getId = false
        this.userPosts = true,
        this.userTodos = false
      // this.$emit('headerPosts', val)
    },
    changeToTodos(){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.userComments = false
        this.getId = false
        this.userPosts = false,
        this.userTodos = true

    },
    changePostToComments(){
        this.userComments = true,
        this.userPosts = false,
        this.userTodos = false
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false
        
    }
  }
};
</script>
<style scoped>
.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.activeItem{
  border: 1px solid white !important;
}

</style>
