<template>
  <div class="main ">
    <ul class="nav nav-tabs bg-success mb-3 p-2">
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#" @click="sendData('get')">Get</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#" @click="sendData('post')">Post</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#" @click="sendData('put')">Put</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#" @click="sendData('delete')">Delete</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link text-white" href="#" @click="sendData('getId')">Get (Id) {{UserToPosts}}</a>
      </li>
    </ul>
    <div class="">
      <get v-if="get" @putItem="changePut($event)"/>
      <post v-if="post"/>
      <put v-if="put"/>
      <delete v-if="deleteItem"/>
      <get-Id v-if="getId"/>

  </div>
    
  </div>
</template>

<script>
import Get from '../components/Posts/GetItem.vue'
import Post from '../components/Posts/Post.vue'
import Delete from '../components/Posts/Delete.vue'
import Put from '../components/Posts/Put.vue'
import GetId from '../components/Posts/GetId.vue'
import axios from "axios";
import {mapGetters} from 'vuex'

export default {
  props:{
    GetuserToPosts: Number
  },
  components:{
    Post,
    Delete,
    Put,
    Get,
    GetId
  },
  data() {
    return {
      items: [],
      put: false,
      deleteItem: false,
      post: false,
      get: true,
      getId: false
    };
  },
  computed: {
      ...mapGetters([
        'UserToPosts',
      ])
    },
  mounted() {
    axios.get("https://gorest.co.in/public/v1/users").then((res) => {
      this.items = res.data.data;
      console.log(this.items);
    });
  },

  watch: {
    item: {
      handler: function (newVal) {
        this.$store.commit('setPostUser', newVal)
      },
      deep: true
    },
  },

  methods:{
    sendData(val){
      if(val == 'post'){
        this.post = true
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = false

      }
      if (val == 'put'){
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false

      }
      if (val == 'delete'){
        this.post = false
        this.put = false
        this.deleteItem = true
        this.get = false
        this.getId = false

      }
      if (val == 'get'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = true
        this.getId = false
      }
      if(val == 'getId'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = true
      }
    },
    changePut(event){
      this.valueGetPut = event
      this.post = false
      this.put = true
      this.deleteItem = false
      this.get = false
    }
  }
};
</script>
<style scoped>
.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}

</style>

