<template>
<div class="col-11">
  <div class="d-flex justify-content-between pt-2 p-3 pb-0">
              
              <transition name="fad" class="col-12 mx-0">
                  
      <div class="bg-white ps-3  filter-Card overflow-hidden" v-if="filterFunction" >
        
        
        <ul class="align-items-baseline d-flex p-0 pt-1 mb-0 px-0 pe-1 justify-content-between" >
            <div>
              <h6><strong  class="strongNumber"> Tareas: {{totaltodos}}</strong></h6>
            </div>
            <div class="row d-flex justify-content-center col-11" >       
            <div class="col-3 mb-3">
              <input class="form-control" v-model="titleForFilter"  type="text"  placeholder="Nombre" aria-label="default input example">
            </div>
            <div class="col-3 mb-3">
              <input class="form-control" v-model="emailForFilter"  type="text"  placeholder="Email" aria-label="default input example">
            </div>
            <div class="col-3 mb-3">
              <input class="form-control" v-model="bodyForFilter"  type="text"  placeholder="Cuerpo" aria-label="default input example">
            </div>
          
            </div>
          <span class="">
            <button type="button" class="btn-close" @click="dontFilter(false)" data-bs-dismiss="modal" aria-label="Close"></button>
          </span>
            
        </ul>
        
        
      </div>
              </transition>
              
              
    </div>
  <div class="card-body row text-center d-flex justify-content-around p-0">
    <h5
      :class="{ titleComments: PostsToComments }"
      v-if="!noElements & !noComments"
      class="fw-light text-center mb-2 py-1 col-8"
    >
      Commentarios de <strong>{{ UserToPosts?.name }}</strong>
    </h5>

    <h6
      :class="{ titleComments: changeToComments }"
      v-if="noElements"
      class="fw-light text-center text-muted my-0"
    >
      No existen Comentarios
    </h6>

    <h5 v-if="noComments" class="fw-light text-center mb-2 py-1 col-8">Seleccione la publicacion para ver sus comentarios</h5>

    <h6 v-if="!PostsToComments" class="fw-light text-center text-success my-0">
      {{ typingId }}
    </h6>

    <div
      v-for="item in items"
      v-show="item.index > oldValPagination & item.index <= newValPagination"
      :key="item"
      class="col-10 mx-3 card my-2 p-3 pb-1 text-center"
    >
      <div class="d-flex justify-content-between cardTitleComments">
        <div class="d-flex align-items-baseline">
          <h5 class="fs-6 mb-1 text-start me-3 fw-bold">{{ item.name }}</h5>
          <a href="#" class="card-link card-subtitle">{{ item.email }}</a>
        </div>
        <div class="d-flex justify-content-end">
          <fa
            icon="trash-alt"
            class="fa-delete"
            @click="setVal(item.id)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          />
          <fa icon="user-edit" class="ms-3 fa" @click="putItem(item)" />
        </div>
      </div>

      <span class="d-flex align-items-baseline mt-2">
        <h6 class="card-subtitle text-muted">
          Comentario:
        </h6>
      </span>
      <label class="card-link mt-1 card-subtitle text-start">{{
        item.body
      }}</label>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5>Seguro Que Deseea Eliminar Este Elemento</h5>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Cerrar</button>
            <button class="btn btn-danger col-3 mx-3" data-bs-dismiss="modal" @click="deleteItemId(idForDelete)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination pt-3">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" @click="backPage()">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#">{{currentPage}}</a></li>

        <li class="page-item"><a class="page-link" href="#">{{totalpages}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next" @click="nextPage()">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
     </nav>
</div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  props:{
      filterCondition: Boolean
    },
  data() {
    return {
      items: {},
      noComments: false,
      itemId: null,
      noElements: false,
      typingId: "",
      idForDelete: null,
      filterFunction: false,
      bodyForFilter: '',
      emailForFilter: '',
      titleForFilter: '',
      totaltodos: null,
      oldValPagination: 0,
      newValPagination: 2,
      currentPage: 1
    };
  },
  computed: {
    ...mapGetters(["PostsToComments", "UserToPosts"]),
    totalpages: function () {
        var pages = this.totaltodos / 2
        return Math.round(pages)
      },
  },
  mounted() { 
    if (this.PostsToComments?.id > 0) {
      this.itemId = this.PostsToComments.id;
      this.getItem();
    }else{
      this.noComments = true
    }
  },
  watch: {
    itemId: async function(newVal) {
      if (newVal) {
        this.items = null;
      }
      if (newVal == 0 || newVal == null) {
        this.typingId = "";
      }
    },
    'filterCondition': function(newVal){
        this.filterFunction = newVal
      },
      'bodyForFilter': function(newVal){
        if(newVal){
          this.getItem()
        }
        if(newVal == ''){
          this.getItem()
        }
      },
      'titleForFilter': function(newVal){
        if(newVal){
          this.getItem()
        }
        if(newVal == ''){
          this.getItem()
        }

      },
      'emailForFilter': function(newVal){
        if(newVal){
          this.getItem()
        }
        if(newVal == ''){
          this.getItem()
        }
      },
  },
  methods: {
    getItem() {
      if(this.titleForFilter.length <= 0 && this.bodyForFilter.length <= 0 & this.emailForFilter.length <= 0){
      axios.get(`https://gorest.co.in/public/v1/posts/${this.itemId}/comments`)
        .then((res) => {
          this.items = res.data.data;
          this.totaltodos = res.data.meta.pagination.total
          var cont = 0

          this.items.forEach(item =>{
            cont++
            item.index = cont
          })

          if (
            !this.items ||
            this.items == {} ||
            this.items == [] ||
            this.items.length <= 0
          ) {
            this.noElements = true;
            this.typingId = "";
          } else {
            this.noElements = false;
            this.typingId = "";
          }
        })
        .catch((error) => {
          this.items = null;
          console.log(error);
        });
      }else{  
          axios.get(`https://gorest.co.in/public/v1/posts/${this.itemId}/comments?name=${this.titleForFilter}&email=${this.emailForFilter}&body=${this.bodyForFilter}`).then((res) => {
          this.items = res.data.data;
          this.totaltodos = res.data.meta.pagination.total
          });
        }
    },
    typing() {
      this.typingId = "Escribiendo";
      this.noElements = false;
    },
    deleteItemId(id) {
      this.items.forEach((item, i) => {
        if (item.id == id) {
          this.items.splice(i, 1);
        }
      });
      const token =
        "dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a";

      axios
        .delete(`https://gorest.co.in/public/v1/comments/${id}`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
        .catch((error) => {
          console.log(error);
        });
    },
    putItem(val) {
      this.$emit("putComments", val);
      this.$store.commit("changeCommentsToCommentPut", val);
    },
    setVal(id){
      this.idForDelete = id
    },
    nextPage(){
      if(this.currentPage < this.totalpages ){
        this.newValPagination = this.newValPagination + 2
        this.oldValPagination = this.oldValPagination + 2
        this.currentPage++ 

      }
    },
    backPage(){
      if(this.oldValPagination > 0){
        this.newValPagination = this.newValPagination - 2
        this.oldValPagination = this.oldValPagination - 2
        this.currentPage--

      }
    }
  },
};
</script>

<style scoped>
.titleComments {
  font-size: 20px !important;
  height: 30px !important;
}
.cardTitleComments {
  border-bottom: 1px solid rgb(134, 134, 134);
}
.card {
  box-shadow: 0px 0px 1px #000;
}
.card:hover {
  box-shadow: 0px 0px 3px #000;
}
.fa,
.fa-delete {
  font-size: 15px;
  cursor: pointer;
}
.fa:hover {
  color: #0d6efd;
}
.fa-delete:hover {
  color: #dc3545;
}
</style>
