<template>
  <div class="card-body col-12">
      <div 
                class="card-body p-0 row d-flex">
                    <h5 class="fw-light text-center mb-4">
                      Seleccione el ID del usuario que desea conseguir
                    </h5>

                    <form
                      class="row d-flex align-items-center justify-content-center"
                    >
                      <div
                        class="form-floating col-6"
                      >
                        <input
                          type="number"
                          v-model="itemId"
                          class="form-control"
                          placeholder="Id"
                        />
                        <label for="floatingInput" class="p-3"> ID Number</label>
                      </div>
                      <div class="col-3 d-flex">
                        <button
                          type="button"
                          class=" btn btn-primary col-12 "
                          @click="getItem()"
                        >
                          Enviar
                        </button>
                      </div>
                    </form>
            </div>

            <div 
                    v-for="item in items" :key="item"
                    class="col-4 mx-3 card mb-4 py-3 px-0 ">
                    
                    <h5 class=" fw-light fs-6 mb-1">{{ item.name }}</h5>
                    <span class="d-flex justify-content-center align-items-baseline">
                        <h6 class="card-subtitle text-muted">
                            ID:
                        </h6>
                        <h6 class="text-danger ms-1 mb-1"> {{ item.id }}</h6>
                    </span>
                    <span class="d-flex justify-content-center align-items-baseline">
                        <h6 class="card-subtitle text-muted">
                            Post ID:
                        </h6>
                        <h6 class="text-danger ms-1 mb-1"> {{ item.post_id }}</h6>
                    </span>
                     <label class="card-link card-subtitle my-1">{{ item.body }}</label>
                    <div>
                      <a href="#" class="card-link card-subtitle">{{ item.email }}</a>
                    </div>
                   
                </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      items: {}
    }
  },
  methods: {
    getItem() {
      axios.get("https://gorest.co.in/public/v1/posts/214/comments?id=1335").then(res => {
        this.items = res.data.data
      })
    }
  },
}
</script>

<style>

</style>