<template>
  <div>
      <div
                class="card-body row d-flex justify-content-center">
                  <div v-if="postNoFind" 
                    class="d-flex justify-content-center flex-wrap col-11 p-1 mb-4 alert alert-danger"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 mb-0 fw-bold">Post No Realizado</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                      <p class="fs-6 m-1">Observe que sus campos enten llenos correctamente o verifique su coneccion a internet</p>
                  </div>
                  <div v-if="userPosted" 
                    class="d-flex justify-content-center col-11 p-1 mb-4 alert alert-success"
                    role="alert"
                    >
                      <h5 class="text-center mt-1 mx-2 fw-bold">Posts Publicado</h5>
                      <fa  class="icon-success text-success" icon="check-circle" />
                  </div>
            
                  <h5 v-if="!postNoFind && !userPosted"
                    class="fw-light text-center mb-4">
                      Complete los campos requeridos para postear un comentario
                    </h5>
                    
                    <div class="form-floating mb-3 col-5">
                      <input
                        type="text"
                        placeholder="Nombre"
                        class="form-control"
                        v-model="items.name"
                      />
                      <label for="floatingInput" class="p-3">Nombre</label>
                    </div>
                    <div class="form-floating mb-3 col-5">
                      <input
                        type="email"
                        class="form-control"
                        id="floatingInput"
                        placeholder="name@example.com"
                        v-model="items.email"

                      />
                      <label for="floatingInput" class="p-3">Email</label>
                    </div>
                    
                    <div class="form-floating mb-3 col-10">
                      <textarea 
                        class="form-control"
                        placeholder="Comentario"
                        v-model="items.body"
                        id="floatingTextarea"
                      ></textarea>
                      <label for="floatingTextarea" class="p-3">Comentario</label>
                    </div>
                   
                    <div class="col-10 d-flex justify-content-center" >
                      <button
                        type="button"
                        class="btn btn-primary mt-2 col-4"
                        @click="postItem()"
                      >
                        Enviar
                      </button>
                    </div>
                    
                    <loading
                      :active="isLoading"
                    />
            </div>
        
  </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from 'vuex'
export default {
  data(){
    return{
      items: {        
        "post_id": null,
        "name": "",
        "email": "",
        "body": ""
      },
      itemId: null,
      isLoading: false, 
      idForDelete: null,
      userPosted: false,
      postNoFind: false,
      noElements: false
    }
  },
  computed: {
    ...mapGetters([
      'PostsToComments'
    ])
  },
  mounted(){

    if(this.PostsToComments?.id > 0 ){
      this.itemId = this.PostsToComments?.id
    }else{
      this.noElements = true
    }
  },
  watch:{
    items: {
      handler: function (newVal) {
        if(newVal){
          this.userPosted = false
          this.postNoFind = false
        }
      },
      deep: true
    }
  },
  methods:{
    async postItem(){
      console.log(this.items)
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';
      this.isLoading = true
      await axios.post(`https://gorest.co.in/public/v1/posts/${this.itemId}/comments`, this.items , {
      
        headers: {
          'Authorization': `Bearer ${token}`,
        },

        }).then(() => {
          this.userPosted = true
          
        })
        .catch(error => {
          this.postNoFind = true
          console.log(error)
        })
      this.isLoading = false
    },
    setVal(id){
      this.idForDelete = id
    },
  }
}
</script>

<style scoped>
.icon-success{
  font-size: 30px;
}
</style>