<template>
  <div>
    <div class="card-body row d-flex flex-wrap justify-content-center">
      <h5 class="fw-light text-center mb-4">
        Complete el campo para modificar un comentario disponible
      </h5>
      <div class="form-floating mb-2 col-5">
        <input
          type="text"
          placeholder="Nombre"
          class="form-control"
          required
          v-model="item.name"
        />
        <label for="floatingInput" class="p-3">Nombre</label>
      </div>

      <div class="form-floating col-5">
        <input
          type="email"
          class="form-control"
          v-model="item.email"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput" class="p-3">Email</label>
      </div>
      <div class="form-floating mt-3 col-10">
        <textarea
          type="textarea"
          placeholder="ID"
          class="form-control"
          required
          v-model="item.body"
        />
        <label for="floatingInput" class="p-3">Comentario</label>
      </div>

      <div class="col-12 mt-3 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary mt-2 col-4"
          @click="putItem()"
        >
          Modificar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      item: {
        body: "",
        email: "",
        id: null,
        name: "",
        post_id: null,
      },
    };
  },
  computed: {
    ...mapGetters(["commentsToCommentPut"]),
  },
  mounted() {
    if (this.commentsToCommentPut.id > 0) {
      this.item.id = this.commentsToCommentPut.id;
      this.item.post_id = this.commentsToCommentPut.post_id;
      this.item.body = this.commentsToCommentPut.body
      this.item.name = this.commentsToCommentPut.name
      this.item.email = this.commentsToCommentPut.email
    }
  },
  methods: {
    putItem() {
      const token =
        "dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a";

      axios
        .put(
          `https://gorest.co.in/public/v1/comments/${this.item.id}`,
          this.item,
          {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }
        )
        
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
