<template>
  <div>
    <div class="card">
      <div class="card-header text-center d-flex ">
        <label class="col-7 text-end d-flex flex-column justify-content-center">
          <span class="mx-4">
            User Posts
          </span>
        </label>
        <div v-if="get" class="col-1 ms-auto d-flex justify-content-end">
          <button @click="filterFunction = !filterFunction" class="btn btn-primary">{{filterFunctionMessage}}</button>
        </div>
      </div>
      <div class="card-body row d-flex justify-content-center">
        <div class="accordion d-flex" id="accordionExample">
          <ul class="nav nav-tabs d-flex flex-column col-2 bg-primary mb-3 py-2">
            <li class="nav-item mx-2 pb-2">
              <a class="nav-link text-white" href="#" @click="sendData('get')"
                >Obtener Comentarios</a
              >
            </li>
            <li class="nav-item mx-2 pb-2">
              <a class="nav-link text-white" href="#" @click="sendData('post')"
                >Crear Comentario</a
              >
            </li>

          </ul>
          <div class="col-10 d-flex justify-content-center">
            <get-comments v-if="get" @putComments="setPutComments($event)" :filterCondition="filterFunction"/>
            <post-comments v-if="post"/>
            <put-comments v-if="put"/>
            
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import getComments from './getComments.vue'
import postComments from './postComments.vue'
import putComments from './putComments.vue'

export default ({
    
    components:{
      getComments,
      postComments,
      putComments
    },
    data() {
        return{
            put: false,
            deleteItem: false,
            post: false,
            get: true,
            getId: false,
            itemsGet: {},
            getToPut: null,
            filterFunction: false,
            filterFunctionMessage: 'Filtrar'

        }
    },
    watch:{
      'filterFunction': function(newVal){
      if(newVal == false){
        this.filterFunctionMessage = "Filtrar"
      }
      if(newVal == true){
        this.filterFunctionMessage = "Cerrar"
      }
    },
    },

    methods:{
        sendData(val){
            if(val == 'post'){
            this.post = true
            this.put = false
            this.deleteItem = false
            this.get = false
            this.getId = false

      }
      if (val == 'put'){
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false

      }
      if (val == 'delete'){
        this.post = false
        this.put = false
        this.deleteItem = true
        this.get = false
        this.getId = false

      }
      if (val == 'get'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = true
        this.getId = false
      }
      if(val == 'getId'){
        this.post = false
        this.put = false
        this.deleteItem = false
        this.get = false
        this.getId = true
      }
        },
        getData(){
            axios.get("https://gorest.co.in/public/v1/users").then((res) => {
            this.itemsGet = res.data.data;
            });
        },
        setPutComments(val){
        this.getToPut = val
        this.post = false
        this.put = true
        this.deleteItem = false
        this.get = false
        this.getId = false
        }
    }
})
</script>
<style scoped>

.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.can{
    text-transform: capitalize;
}
.nav-tabs{
  width: 220px;
  min-height: 220px;
}
</style>