<template>
  <header class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-tabs" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item mx-2 nav-user">
              <a class="nav-link user" @click="pushPage('Home')" href="#"
                :class="{colorHome:  home}">
                Usuarios
                
              </a>
            </li>
            <li class="nav-item mx-2 nav-todos">
              <a class="nav-link " @click="pushPage('Todos')" href="#"
              :class="{colorTodos: todos }"
              >Tareas</a>
            </li>
            <li class="nav-item mx-2 nav-posts">
              <a class="nav-link" @click="pushPage('Posts')" href="#"
              :class="{colorPosts: posts }"
              >Publicaciones</a>
            </li>
            <li class="nav-item mx-2 nav-comments">
              <a class="nav-link" @click="pushPage('Comments')" href="#"
                :class="{colorComments: comments }"
                >Comentarios</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  props:{
    setToPosts: Number
  },
  data(){
    return{
      componentsItem: [
    {name: "Home" , isActive: false},
    {name: "Todos" , isActive: false},
    {name: "Comments" , isActive: false},
    {name: "Posts" , isActive: false},
  ],
  home: true,
  comments: false,
  todos: false,
  posts: false,
  valUserToPosts: false

}
  },
  watch:{
    'setToPosts': function(){
      this.valUserToPosts = this.setToPosts
      if(this.valUserToPosts > 0)
      this.pushPage('Posts')
    }
  },
  mounted(){
    this.valUserToPosts = this.setToPosts
  },
  methods: {
    
  
    pushPage(name) {
      this.componentsItem.forEach(comp => {
      if(comp.name != name){
        comp.isActive = false
        
      }else{
        comp.isActive = true
      }
      this.homeColor(name)
      this.postsColor(name)
      this.todosColor(name)
      this.commentsColor(name)
    })
      if(name == 'Posts'){
        this.valUserToPosts = this.setToPosts
        
      }else{
        this.valUserToPosts = 0
      }

      
      this.$router.push({ name });
    },
    homeColor(name){    
      if(name == 'Home'){
        this.home = true
        this.comments = false
        this.posts = false
        this.todos = false
      }
    },
    postsColor(name){
    
      if(name == 'Posts'){
        this.home = false
        this.comments = false
        this.posts = true
        this.todos = false
      }
    },
    todosColor(name){
      if(name == 'Todos'){
        this.home = false
        this.comments = false
        this.posts = false
        this.todos = true
      }
    },
    commentsColor(name){
      if(name == 'Comments'){
        this.home = false
        this.comments = true
        this.posts = false
        this.todos = false
      }
    }
    
  },
};
</script>

<style scoped>
.nav-user:hover{
  background: #0d6efd;
  border-radius: 3px;
}

.nav-todos:hover{
  background: #dc3545;
  border-radius: 3px;
}
.nav-posts:hover{
  background: #198754;
  border-radius: 3px;
}

.nav-link:hover{
  color: #fff  !important;
  border-radius: 3px;
  
}

.nav-comments:hover{
  background: #6c757d;
  border-radius: 3px;

}

button:active{
  background: #dc3545;
}
.colorHome{
  background: #0d6efd;
  color: #fff  !important;
}
.colorComments{
  background: #6c757d;
  color: #fff  !important;

}
.colorPosts{
  background: #198754;
  color: #fff  !important;
}
.colorTodos{
  background: #dc3545;
  color: #fff  !important;

}

</style>
