<template>
  <div class="cnt">
    <transition name="fad">
      <div class="bg-white p-3 pb-0 card mb-3 filter-Card overflow-hidden" v-if="filterFunction" >
        
        
        <ul class="align-items-baseline d-flex p-0 mb-2 justify-content-between" >
            <div>
              <h6><strong  class="strongNumber"> Usuarios: {{itemLength}}</strong></h6>
            </div>
            <div class="d-flex p-0">
              <label style="cursor: pointer" :for="name.placeholder" class="d-flex me-5">
                <input
                  type="checkbox"
                  class="form-check-input me-1"
                  :id="name.placeholder"
                  v-model="name.isActive"
                  @change="changeValCheck(name)"
                />
                {{name.placeholder}}
                
              </label>
              <label style="cursor: pointer" :for="email.placeholder"  class="d-flex me-5">
                <input
                  type="checkbox"
                  class="form-check-input me-1"
                  :id="email.placeholder"
                  v-model="email.isActive"
                  @change="changeValCheck(email)"
                />
                {{email.placeholder}}
                
              </label>
              <label style="cursor: pointer" :for="gender.placeholder"  class="d-flex me-5">
                <input
                  type="checkbox"
                  class="form-check-input me-1"
                  :id="gender.placeholder"
                  v-model="gender.isActive"
                  @change="changeValCheck(gender)"
                />
                {{gender.placeholder}}
                
              </label>
              <label style="cursor: pointer" :for="status.placeholder"  class="d-flex me-5">
                <input
                  type="checkbox"
                  class="form-check-input me-1"
                  :id="status.placeholder"
                  v-model="status.isActive"
                  @change="changeValCheck(status)"
                />
                {{status.placeholder}}
                
              </label>
            </div>
          <span>
            <button type="button" class="btn-close" @click="dontFilter(false)" data-bs-dismiss="modal" aria-label="Close"></button>
          </span>
            
        </ul>
        
        <div class="row d-flex justify-content-center" >       
            <div v-show="name.isActive" class="form-floating col-3 mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                v-model="name.name"
                @keyup="setAnswer()"
              />
              <label for="floatingInput" class="p-3">{{name.placeholder}}</label>
            </div>
            <div v-show="email.isActive" class="form-floating col-3 mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nombre"
                v-model="email.name"
                @keyup="setAnswer()"
              />
              <label for="floatingInput" class="p-3">{{email.placeholder}}</label>
            </div>
            <div class="form-floating col-3 mb-3" v-show="gender.isActive">
              <select class="form-select" v-model="gender.name" @change="setAnswer()" id="floatingSelect" aria-label="Floating label select example">
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
              </select>
              <label for="floatingSelect ms-1">{{gender.placeholder}}</label>
            </div>

            <div class="form-floating col-3 mb-3" v-show="status.isActive">
              <select class="form-select" id="floatingSelect" v-model="status.name" @change="setAnswer()" aria-label="Floating label select example">
                <option value="active">Activo</option>
                <option value="inactive">Inactivo</option>
              </select>
              <label for="floatingSelect ms-1">{{status.placeholder}}</label>
            </div>
          
        </div>
      </div>
      </transition>

      <ul class="list-group list-group-numbered ">
        <div class="d-flex flex-wrap justify-content-around">
          <div
            class="card p-2 mb-5"
            style="width: 310px;"
            v-for="item in items"
            :key="item"
          >
            <div class="d-flex justify-content-end">
              <fa icon="trash-alt" class="fa-delete" @click="setVal(item.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
            <fa icon="user-edit" class="ms-3 fa" @click="putItem(item.id)"/>
            </div>
          
            <div class="card-body text-center ">
              <fa
                v-if="item.gender == 'female'"
                class="icon mb-1"
                icon="female"
              />
              <fa v-if="item.gender == 'male'" class="icon mb-1" icon="male" />
              <h5 class=" fw-light fs-6 m-0">{{ item.name }}</h5>
              <span class="d-flex justify-content-center align-items-baseline">
                <h6 class="card-subtitle text-muted">
                    ID:
                </h6>
                <h6 class="text-danger ms-1"> {{ item.id }}</h6>
              </span>

              <h6 class="card-subtitle text-muted">
                Estado:
                <span
                  v-if="item.status == 'active'"
                  class="text-success font-weight-bold"
                  >{{ item.status }}</span
                >
                <span v-if="item.status !== 'active'" class="text-danger">{{
                  item.status
                }}</span>
              </h6>
              <a href="#" class="card-link card-subtitle">{{ item.email }}</a>
              
            </div>
            <div class="d-flex py-2 justify-content-around">
                <button class="btn btn-outline-danger col-6" @click="postsItem(item)">Publicaciones</button>
                <button type="button"  class="btn btn-outline-success col-4" @click="todosItem(item)" >
                  Tareas
                </button>
                
              </div>
          </div>
        </div>
      </ul>
 
  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h5>Seguro Que Deseea Eliminar Este Elemento</h5>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary col-3 mx-3" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-danger col-3 mx-3" data-bs-dismiss="modal" @click="deleteItemId(idForDelete)">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous" @click="pageId--">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item"><a class="page-link" href="#" >{{pageId}}</a></li>

        <li class="page-item"><a class="page-link" href="#">{{totalPage}}</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next" @click="pageId++">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
     </nav>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props:{
    filterCondition : Boolean
  },
data() {
    return {
      items: [],
      pageId: 0,
      totalPage: 1,
      itemLength: 0,
      idForDelete: null,
      put: false,
      deleteItem: false,
      post: false,
      get: true,
      filterFunction: false,
      cnd: false,
      name: {name: "", isActive: false, placeholder: "Nombre"},
      email:  {name: "", isActive: false, placeholder: "Email"},
      gender:  {name: "", isActive: false, placeholder: "Genero"},
      status: {name: "", isActive: false, placeholder: "Estado"}

  }
},
  watch:{
    'filterCondition': function(newVal){
      this.filterFunction = newVal
    },
    'pageId': function(newVal){
      if(newVal == 0){
        this.pageId = 1
      } 
      if(newVal >= this.totalPage){
        this.pageId = this.totalPage
      }
      this.setAnswer()
  },
    filters:{
      handler: function(newVal){
        newVal.forEach(filter=>{
          if(filter.placeholder == "Nombre" && filter.name.length > 0) this.name.isActive = filter.isActive
          if(filter.placeholder == "Email")  this.email.isActive = filter.isActive
          if(filter.placeholder == "Genero") this.gender.isActive = filter.isActive
          if(filter.placeholder == "Estado") this.status.isActive = filter.isActive
        })
      }
    }
    
  },
  mounted(){
    this.pageId = 1
    this.setAnswer()
  },
  methods:{
    putItem(val){
      this.$emit('putItem' , val )
    },
    postsItem(val){
      this.$emit('postsItem', val)
      this.$store.commit('changeUserToPosts', val)
    },
    todosItem(val){
      this.$emit('todosItem', val)
      this.$store.commit('changeUserToTodos', val)
    },
    setVal(id){
      this.idForDelete = id
    },
    deleteItemId(id) {
      this.itemLength--
      this.items.forEach((item, i) => {
        if(item.id == id) {
          this.items.splice(i, 1)
        }
      });
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';

      axios.delete(`https://gorest.co.in/public/v1/users/${id}`, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
      .catch(error => {
        console.log(error)
      })
    },
    dontFilter(val){
      this.name.isActive = false
      this.name.name = ''
      this.email.isActive = false
      this.email.name = ''
      this.gender.isActive = false
      this.gender.name = ''
      this.status.isActive = false
      this.status.name = ''
      this.setAnswer()

      this.$emit('filterOff', val)
    },
    changeValCheck(item){
        item.name = ''
        this.setAnswer()
    },
    setAnswer(){
        if(this.name.name.length <= 0 && this.email.name.length <= 0 && this.gender.name.length <= 0 && this.status.name.length <= 0 ){
          axios.get(`https://gorest.co.in/public/v1/users?page=${this.pageId}`).then((res) => {
          this.items = res.data.data;
          this.totalPage = res.data.meta.pagination.pages
          this.itemLength = res.data.meta.pagination.total
          
          });
        } else{

          axios.get(`https://gorest.co.in/public/v1/users?page=${this.pageId}&name=${this.name.name}&email=${this.email.name}&gender=${this.gender.name}&status=${this.status.name}`).then((res) => {
          this.items = res.data.data;
          this.totalPage = res.data.meta.pagination.pages
          this.itemLength = res.data.meta.pagination.total
          });
        }
  
    }

    
  }
}
</script>

<style scoped>
.card-subtitle {
  font-size: 12px;
}
.icon {
  font-size: 40px;
}
.card {
  background: #fff;

}
.fad-enter-from{
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.fad-enter-to{
  height: 59px;

}
.fad-enter-active:first-child{
  transition: all 1s ease;

}
.fad-leave-from{
  height: 59px;

}
.fad-leave-to{
  height: 0px;
  padding: 0px !important;
  margin: 0px !important;

}
.fad-leave-active{
  transition: all 1s ease;

}
.strongNumber{
  font-family:sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.fa,
.fa-delete {
  font-size: 15px;
  cursor: pointer;
}
.fa:hover {
  color: #0d6efd;
}
.fa-delete:hover {
  color: #dc3545;
}

</style>