<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Post
      </div>
      <div class="card-body row d-flex justify-content-center">
          <h4 class="fw-light text-center mb-4">
            Complete los campos para publicar un usuario 
          </h4>
          <div class="form-floating mb-3 col-5">
            <input
              type="text"
              v-model="item.name"
              placeholder="Nombre"
              class="form-control"
            />
            <label for="floatingInput" class="p-3">Nombre</label>
          </div>
          <div class="form-floating mb-3 col-5">
            <input type="email" class="form-control" v-model="item.email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="p-3">Email</label>
          </div>
          

          <div class="my-4 d-flex col-5">
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.gender"
                type="radio"
                name="gender"
                value="female"
                checked
                />
                <label class="form-check-label" for="exampleRadios1">
                Femenino
                </label>
            </div>
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.gender"
                type="radio"
                name="gender"
                value="male"
                checked
                />
                <label class="form-check-label" for="exampleRadios1">
                Masculino
                </label>
            </div>
          </div>
          

          <div class="my-4 d-flex col-5">
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="active"
                checked
                />
                <label class="form-check-label" for="exampleRadios1">
                Activo
                </label>
            </div>
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="inactive"
                checked
                />
                <label class="form-check-label" for="exampleRadios1">
                Inactivo
                </label>
            </div>
          </div>
          
          <div class="col-10 d-flex justify-content-center px-0">
            <button type="button" class="btn btn-primary mt-2 col-3" @click="postItem()">
                Enviar
            </button>
          </div>
       </div>
      <div class="card-footer text-muted">
        2 days 
            <button type="button" class="btn btn-outline-primary">Primary</button>
        
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import {mapGetters} from 'vuex'
export default {
  data() {
    return {
      item: {
        "email": "",
        "name": "",
        "gender": "",
        "status": "",
      },
    };
  },
  
    computed: {
      ...mapGetters([
        'itemStore',
      ])
    },
  watch: {
    item: {
      handler: function (newVal) {
        this.$store.commit('setPostUser', newVal)
      },
      deep: true
    },
  },

  methods: {
    postItem() {
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a'

      axios.post(`https://gorest.co.in/public/v1/users`, this.item, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
      
      .catch(error => {
        console.log(error)
      })
    },
  },
};
</script>
