<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Put
      </div>
      <div class="card-body row d-flex flex-wrap justify-content-center">
          <h4 class="fw-light text-center mb-4">
              Complete los campos para modificar un usuario disponible 
          </h4>
          <div class="form-floating mb-3 col-5">
            <input
              type="text"
              v-model="item.name"
              placeholder="Nombre"
              class="form-control"
              required
            />
            <label for="floatingInput" class="p-3">Nombre</label>
          </div> 
          <div class="form-floating mb-3 col-5">
            <input
              type="number"
              v-model="item.id"
              placeholder="ID"
              class="form-control"
              required
            />
            <label for="floatingInput" class="p-3">ID</label>
          </div>  
          
          <div class="form-floating mt-3 col-10">
            <input type="email" class="form-control" v-model="item.email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="p-3">Email</label>
          </div>

          <div class="my-4 d-flex col-5">
            <div class="form-check mx-2 col-3">
                <input
                class="form-check-input"
                v-model="item.gender"
                type="radio"
                name="gender"
                value="female"
                />
                <label class="form-check-label" for="exampleRadios1">
                Femenino
                </label>
            </div>
            <div class="form-check mx-2 col-3">
                <input
                class="form-check-input"
                v-model="item.gender"
                type="radio"
                name="gender"
                value="male"
                />
                <label class="form-check-label" for="exampleRadios1">
                Masculino
                </label>
            </div>
          </div>

          <div class="my-4 d-flex col-5">
            <div class="form-check mx-2 col-3">
              <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="active"
              />
              <label class="form-check-label" for="exampleRadios1">
                Activo
              </label>
            </div>
            <div class="form-check mx-2 col-3">
              <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="inactive"
              />
              <label class="form-check-label" for="exampleRadios1">
                Inactivo
              </label>
            
            
            </div>
          </div>

           
        
          
         
          <div class="col-12 mt-3 d-flex justify-content-center">
            <button type="button" class="btn btn-primary mt-2 col-4" @click="putItem()">
              Enviar
          </button>
          </div>
            
          
        </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props:{
    value: Number
  },
  data() {
    return {
      item: {
        "id": null,
        "email": "",
        "name": "",
        "gender": "",
        "status": "",
      },
    };
  },
  mounted(){
    this.item.id = this.value
  },
  methods: {
    putItem() {
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';

      axios.put(
        `https://gorest.co.in/public/v1/users/${this.item.id}`,
        this.item,
        {
          headers: {
            'Authorization': `Bearer ${token}`,
          },
        }
      )
      
      .catch(error => {
        console.log(error)
      })
      
    },
  },
};
</script>
