<template>
  <div class="my-container">
    <app-header :setToPosts="setToPosts" @valToPosts="ValueToPosts($event)"/>
    <div class="container pt-1 mt-4">
      <router-view @headerPosts="setPosts($event)" :GetUserToPosts="valToPosts"/>
    </div>
  </div>
</template>

<script>
import AppHeader from "./components/AppHeader.vue";
export default {
  name: "App",
  components: {
    AppHeader,
  },
  data() {
    return {
      setToPosts: 0,
      valToPosts: null
    }
  },
  methods: {
    ValueToPosts(val){
      this.valToPosts = val
    },
    setPosts(val) {
      this.setToPosts = val
    }
  },
};
</script>

<style>
  @import "../node_modules/vue3-loading-overlay/dist/vue3-loading-overlay.css";

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.card-subtitle {
  font-size: 12px;
}
body {
  background-image: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow-y: scroll
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.fa,
.fa-delete {
  font-size: 15px;
  cursor: pointer;
}
.fa:hover {
  color: #0d6efd;
}
.fa-delete:hover {
  color: #dc3545;
}

.fad-enter-from{
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.fad-enter-to{
  height: 59px;

}
.fad-enter-active{
  transition: all 1s ease;

}
.fad-leave-from{
  height: 59px;

}
.fad-leave-to{
  height: 0px;
  padding: 0px !important;
  margin: 0px !important;

}
.fad-leave-active{
  transition: all 1s ease;

}


</style>
