<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Delete
      </div>
      <div class="card-body">     
          <h4 class="fw-light text-center mb-4">Seleccione el numero de ID del usuario que desea eliminar</h4>
          <div v-if="alertOn" class="alert alert-primary alert-dismissible text-center" role="alert" >
            <strong>Excelente</strong> El usuario ha sido eliminado exitosamente.
            <button type="button" @click="alertOn = false" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <div v-if="errorAlert" class="alert alert-primary alert-dismissible text-center" role="alert" >
            <strong>Error</strong> Seleccione un Id Valido
            <button type="button" @click="errorAlert = false" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <form class="row  g-3 d-flex align-items-center justify-content-center">
            <div class="form-floating col-6">
                <input
                    type="number"
                    v-model="item.id"
                    class="form-control"
                    placeholder="Id"
                />
                <label for="floatingInput">ID Number</label>
                
            </div>
            <div class="col-3 d-flex align-items-end">
                <button type="button" class=" btn btn-danger col-12 " @click="deleteItem()">
                    Enviar
                </button>
            </div>
          </form>         
       </div>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      alertOn: false,
      errorAlert: false,
      item: {
        "id": null
      },
    };
  },

  methods: {
  
     deleteItem() {
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a';
      if(this.item.id){
        axios.delete(`https://gorest.co.in/public/v1/todos/${this.item.id}`, {
          headers: {
            'Authorization': `Bearer ${token}`,
          },
        }).then(() => {
          this.alertOn = true
          
          
        })
        .catch(error => {
          console.log(error)
          this.errorAlert = true
          
        }) 
      }
      else {
          this.errorAlert = true
          
      }
      }
  },
};
</script>
<style scoped>

</style>