<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Get (id)
      </div>
      <div class="card-body">
        <h4 class="fw-light text-center mb-4">
          Seleccione el ID del usuario que desea conseguir
        </h4>
        
        <form class="row  g-3 d-flex align-items-center justify-content-center">
          <div class="form-floating col-5 d-flex justify-content-center">
            <input
              type="number"
              v-model="itemId"
              class="form-control col-3"
              placeholder="Id"
            />
            <label for="floatingInput">ID Number</label>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button
              type="button"
              class=" btn btn-danger col-2 "
              @click="deleteItem()"
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- <div
          v-if="alertOn"
          class="alert alert-primary alert-dismissible text-center mt-3"
          role="alert"
        >
          <strong>Excelente</strong> El usuario ha sido eliminado exitosamente.
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div
          v-if="errorAlert"
          class="alert alert-primary alert-dismissible text-center mt-3"
          role="alert"
        >
          <strong>Error</strong> Seleccione un Id Valido
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div> -->
    <div class=" mt-4 d-flex flex-wrap justify-content-around">
      <div
        class="card p-2 mb-5"
        style="width: 18rem;"
        v-for="item in items"
        :key="item"
      >
        <div class="card-body text-center ">
          <h6 class="mb-2 text-muted">
            Usuario Id:
            <span class="text-danger">{{ item.user_id }}</span>
          </h6>

          <h5 class=" fw-light fs-6">{{ item.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Estado:
            <span class="text-danger">{{ item.status }}</span>
          </h6>
          <a href="#" class="card-link card-subtitle">{{ item.due_on }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      alertOn: false,
      errorAlert: false,
      itemId: null,
      items: {},
    };
  },

  watch: {
    "this.itemId": async function() {
      this.alertOn = false;
      this.errorAlert = false;
    },
  },
  methods: {
    deleteItem() {
      const token =
        "dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a";
      if (this.itemId) {
        axios
          .get(`https://gorest.co.in/public/v1/todos/${this.itemId}`, {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          })
          .then((res) => {
            this.items = res;
            this.alertOn = true;
          })
          .catch((error) => {
            console.log(error);
            this.items = null
            this.errorAlert = true;
          });
      } else {
        this.errorAlert = true;
      }
    },
  },
};
</script>
<style scoped></style>
