<template>
  <div>
    <div class="card">
      <div class="card-header text-center">
        Post
      </div>
      <div class="card-body row d-flex justify-content-center">
          <h4 class="fw-light text-center mb-4">
            Complete los campos para publicar un usuario 
          </h4>
          <div class="form-floating mb-3 col-10">
            <input
              type="text"
              v-model="item.title"
              placeholder="Nombre"
              class="form-control"
            />
            <label for="floatingInput" class="p-3">Titulo</label>
          </div>
          <div class="form-floating mb-3 col-10">
            <input type="email" class="form-control" v-model="item.user_id" id="floatingInput" placeholder="ID del Usuario">
            <label for="floatingInput" class="p-3">ID del Usuario</label>
          </div>
          

          <div class="my-4 d-flex col-10">
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="pending"
                />
                <label class="form-check-label" for="exampleRadios1">
                Pendiente
                </label>
            </div>
            <div class="form-check mx-2">
                <input
                class="form-check-input"
                v-model="item.status"
                type="radio"
                name="exampleRadios"
                value="completed"
                />
                <label class="form-check-label" for="exampleRadios1">
                Completado
                </label>
            </div>
          </div>
          <div class="col-9 d-flex justify-content-center">
            <button type="button" class="btn btn-danger mt-2 col-5" @click="postItem()">
                Enviar
            </button>
          </div>
       </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      item: {
        "user_id": null,
        "title": "",
        "due_on": "2021-09-12T00:00:00.000+05:30",
        "status": "",
      },
    };
  },

  methods: {
    postItem() {
      const token = 'dd2c0e475c5abd95521304d139d7e668d6bd962767a7f5560c273b7cf107fe2a'

      axios.post(`https://gorest.co.in/public/v1/todos`, this.item, {
        headers: {
          'Authorization': `Bearer ${token}`,
        },
      })
     
      .catch(error => {
        console.log(error)
      })
    },
  },
};
</script>
